#img-container{
    position:relative;
    left:auto;
    right:auto;
}

#back-img,#front-img,#back-img-activate{
 width:300px;   
}

#back-img,#back-img-activate,#back-img-wrong{
    position:relative;
    top:0px;
    left:0px;
    
}

#front-img{
    position:absolute;
    left:0px;
    width:300px;
    height:300px;
}

#status,#status-activate{
    position:relative;
}


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(1080deg);
  }
}

@-webkit-keyframes rotate-wrong {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(1020deg);
  }
}
#back-img-activate
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.5s; 
    -webkit-animation-iteration-count:  1;
    -webkit-transition-timing-function: linear;
}

#back-img-activate-wrong
{
    -webkit-animation-name:             rotate-wrong; 
    -webkit-animation-duration:         1.5s; 
    -webkit-animation-iteration-count:  1;
    -webkit-transition-timing-function: linear;
}

#status-activate{
    -webkit-animation-name:             fadein; 
    -webkit-animation-duration:         3.5s; 
    -webkit-animation-iteration-count:  1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
}


@-webkit-keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 0;}
    60% { opacity: 1;}
    100%   { opacity: 1; }
}
