#img-container{
    position:relative;
    top:100px;
    left:auto;
    right:auto;
}

#back-img,#front-img,#back-img-activate{
 width:300px;   
}

#back-img,#back-img-activate{
    position:relative;
    top:0px;
    left:0px;
    
}

#front-img{
    position:absolute;
    left:0px;
    width:300px;
    height:300px;
}

#status{
    position:relative;
}


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
#back-img-activate
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         0.5s; 
    -webkit-animation-iteration-count:  1;
    -webkit-transition-timing-function: linear;
}
