#img-container{
    position:relative;
    top:100px;
    left:auto;
    right:auto;
}

#back-img,#front-img{
 width:300px;   
}

#back-img{
    position:relative;
    top:0px;
    left:0px;
    
}

#front-img{
    position:absolute;
    left:0px;
    width:300px;
    height:300px;
}

#status{
    position:relative;
}
